<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{cabecalho :: head}"></div>
	<title>Sistema de Chamados de TI</title>

	<style th:inline="css">
		body {
			background-image: url([[@{/images/fundo.jpg}]]);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
            background-attachment: fixed;
            height: 100vh;
		}

        .welcome-container {
            background-color: rgba(255, 255, 255, 0.85);
            padding: 40px;
            border-radius: 15px;
            margin-top: 10vh;
            text-align: center;
        }
	</style>
</head>
<body>
    <div th:replace="~{cabecalho :: navbar}"></div>

    <div class="container">
        <div class="welcome-container">
            <h1 class="display-4">Bem-vindo ao Sistema de Gestão</h1>
            <p class="lead">Use o menu de navegação acima para gerenciar Usuários e Clientes.</p>
        </div>
    </div>
</body>
</html>