<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{cabecalho :: head}"></div>
	<title>Sistema de Chamados de TI</title>
	<style>
		.menu-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 80vh;
		}
		.menu-item {
			margin: 0 20px;
		}
		.menu-item .btn {
			padding: 20px 40px;
			font-size: 1.5rem;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1 class="text-center my-4">Sistema de Chamados de TI</h1>
		<div class="menu-container">
			<div class="menu-item">
				<a th:href="@{/clientes}" class="btn btn-primary">Gerenciar Clientes</a>
			</div>
			<div class="menu-item">
				<a th:href="@{/chamados}" class="btn btn-secondary">Gerenciar Chamados</a>
			</div>
		</div>
	</div>
</body>
</html>